<div class="row carousel">
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 01</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 02</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 03</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 04</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 05</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 06</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 07</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 08</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 09</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 10</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 11</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
  <div class="card col-sm-4 col-md-3">
    <div class="card-content">Card 12</div>
  </div>
</div>